.searchq {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-top: -60px; /* Adjust the margin-top value as needed */
  }
  
  label {
    margin-right: 5px;
  }
  
  input {
    height: 30px; /* Adjust the height as needed */
  }
  

.user{
    margin:30px;
    padding: 20px;
    border: 1px solid black;
}

.userData{
    font-size: 20px;
}

.updateBtn, .deleteBtn{
    border: 1px solid #1E1E24;
    border-radius: 8px;
    height: 35px;
    font-size: 16px;
    font-weight: 700;
    width: 120px;
    color:#1E1E24;
}

.updateBtn{
    background: #f5df85;
    margin-right: 10px;
}

.deleteBtn{
    background: #ff5530;
    margin-left: 10px;
}

.closeBtn{
    border: 1px solid #1E1E24;
    border-radius: 8px;
    height: 35px;
    font-size: 16px;
    font-weight: 700;
    width: 120px;
    color:#d4d4d2;
    background: #272739 ;

}
.updateClassBtn {
    margin-right: 100px;
  }

.closeDeleteBtn{
    display: none;
}
.searchContainer {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.filterOptions {
  margin-left: 10px;
}

.sortButton {
  margin-left: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.sortIcon {
  font-size: 1.2rem;
  vertical-align: middle;
}

.searchInput {
  margin-right: 10px;
}

.filterOptions select {
  margin-left: 5px;
}
